<div id="documentation">
  <div class="container">
    <h2>Membership</h2>
    <a href="../../../../">Home</a> \\ Membership Information
    <div class="block">
      <p>Currently blog membership is on a strict invitation only basis. Only members can comment on and view private posts.</p>
      <p>If you have any questions you can hit me up <a href="https://twitter.com/dalemysz">@dalemysz</a>.</p>
    </div>
  </div>
</div>
