<div class="container">
  <h1>Subscription Removed</h1>
  <p>Your subscription using the email <%= @email %> has been removed. I'm sorry to see you go hopefully you will be back soon. :)</p><br />
</div>
