<div class="container">
  <h1>Verification Needed</h1>
  <p>You should recieve an email within a few minutes allowing you to verify your subscription. You will not recieve any emails from this site until your email is verified.</p><br />
</div>
